<script setup>
import { ref } from 'vue'
import TablePayouts from '@/components/Admin/TablePayouts.vue'

const props = defineProps({
    result: Object,
})

const payoutModal = ref(false)
const payout = ref({})

</script>
<template>
    <LayoutAdmin title="Payouts">
        <template #content-header-end>
            <Button label="Add Payout" @click="payout = {}, payoutModal = true"/>
        </template>
        <template #default>
            <TablePayouts v-model="payout" v-model:payoutModal="payoutModal" :result="result" />
        </template>
    </LayoutAdmin>
</template>