<script setup>
import { ref, computed, onMounted } from 'vue'
import { usePage, Head } from '@inertiajs/vue3'
import Sidebar from 'primevue/sidebar'
import logo from '@images/logo.png'

const props = defineProps({
    title: String,
    headerFixed: { type: Boolean, default: false }
})

const page = usePage();
const companyTitle = computed(() => page.props.company_name)

const menuItems = ref([
    {
        label: 'Home',
        href: '#home'
    },
    {
        label: 'Our Products',
        href: '#our-products'
    },
    {
        label: 'Contact Us',
        href: '#join-us'
    }
])

const sidebarVisible = ref(false)
const headerBg = ref(false)
onMounted(() => {
    window.addEventListener('scroll', function () {
        let y = window.scrollY
        headerBg.value = y >= 50
    })
})
</script>
<template>
    <Head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </Head>
    <!-- Sidebar -->
    <Sidebar v-model:visible="sidebarVisible" :header="companyTitle">
        <template #header>
            <div class="d-flex align-items-center column-gap-2">
                <div><img :src="logo" :alt="companyTitle + ' - Logo' " width="50" class="me-2"></div>
                <span class="fw-bold">{{ companyTitle }}</span>
            </div>
        </template>
        <ul class="nav flex-column">
            <li v-for="(item, i) in menuItems" :key="i" class="nav-item">
                <a :href="item.href" class="nav-link text-secondary fw-bold" @click="sidebarVisible = false">{{ item.label }}</a>
            </li>
        </ul>
    </Sidebar>

    <!-- Main container -->
    <main class="web">
        <div class="main-header main-header-transparent transition px-3" :class="{ 'main-header-fixed': headerFixed, 'text-bg-success': headerBg }">
            <Menubar>
                <template #start>
                    <div class="d-flex align-items-center">
                        <div><img :src="logo" :alt="companyTitle + ' - Logo' " width="50" class="me-2"></div>
                        <h5 class="mb-0 d-none d-lg-block">{{ companyTitle }}</h5>
                    </div>
                </template>
                <template #end>
                    <div class="d-flex align-items-center">
                        <div class="d-none d-md-block">
                            <ul class="nav">
                                <li v-for="(item, i) in menuItems" :key="i" class="nav-item">
                                    <a :href="item.href" class="nav-link">{{ item.label }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-md-none d-block">
                            <Button icon="pi pi-bars" severity="secondary" @click="sidebarVisible=true" text raised rounded aria-label="Toogle sidebar menu" />
                        </div>
                        <!-- <div class="ms-3">
                            <InertiaLink :href="route('member.login')">
                                <Button icon="pi pi-user" rounded severity="secondary" label="Login" />
                            </InertiaLink>
                        </div> -->
                    </div>
                </template>
            </Menubar>
        </div>

        <!-- Content -->
        <div class="main-container no-sidebar">
            <div><slot></slot></div>
        </div>
    </main>
    <footer class="p-3 bg-dark text-center text-white fs-6">
        &copy; Copyright <b>{{ companyTitle }}</b>. All rights reserved.
    </footer>
</template>