<script setup>
import { ref } from 'vue'
import { Head } from '@inertiajs/vue3'
import Layout from '@/pages/Home/_Layout.vue'
import Carousel from 'primevue/carousel'
import webProdSup from '@images/web-product-supplements.jpg'
import webProdFer from '@images/web-product-fertilizer.jpg'
import webProdAll from '@images/web-capt-products.jpg'

const carouselItems = ref([
    {
        title: "Discover the Power of Nature",
        sutitle: "Harness Nature's Best for a Healthier You",
        description: "Explore our range of natural, expertly formulated products designed to support a safe and healthier lifestyle.",
        imageUrl: "https://images.pexels.com/photos/1462892/pexels-photo-1462892.jpeg",
        cta: "Learn More",
        ctaUrl: "#home"
    },
    {
        title: "Commitment to Quality",
        sutitle: "Experience the Difference of Expertly Studied Ingredients",
        description: "Our products are made from nature's most effective resources, ensuring safety and quality in every step.",
        imageUrl: "https://images.pexels.com/photos/161512/eggplant-400-08373800-400-08373801-400-08373802-400-08373803-161512.jpeg",
        cta: "Explore Our Products",
        ctaUrl: "#our-products"
    },
    {
        title: "Empower Your Business",
        sutitle: "Turn Natural Products into Profits",
        description: "Join Cordvalley’s network of entrepreneurs and start growing your business with our effective products and proven marketing strategies.",
        imageUrl: "https://images.pexels.com/photos/96715/pexels-photo-96715.jpeg",
        cta: "Start Your Journey",
        ctaUrl: "#join-us"
    },
])
</script>
<template>
    <Head>
        <title>Welcome to Cordvalley Agricultural Products Trading</title>
        <meta name="description" content="Cordvalley Agricultural Products Trading products are carefully sourced to bring its benefits to you in the most effective and accessible way.">
    </Head>
    <Layout title="Home" :header-fixed="true">
        <Carousel :value="carouselItems" :numVisible="1" :numScroll="1" circular :autoplayInterval="7000" class="carousel-main-banner">
            <template #item="slotProps">
                <div class="carousel-main-item px-5" :style="{backgroundImage: `url(${slotProps.data.imageUrl})`}">
                    <div class="carousel-main-item-content">
                        <h2 class="fw-bold fs-1">{{ slotProps.data.title }}</h2>
                        <p class="fs-4 fw-semibold">{{ slotProps.data.sutitle }}</p>
                        <p class="mb-4">{{ slotProps.data.description }}</p>
                        <a :href="slotProps.data.ctaUrl" class="btn btn-outline-light">{{ slotProps.data.cta }}</a>
                    </div>
                </div>
            </template>
        </Carousel>

        <div class="img-background bg-overlay bg-overlay-white" style="background-image: url('https://images.pexels.com/photos/265216/pexels-photo-265216.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
            <div id="home" class="container py-10">
                <div class="row align-items-center flex-md-row flex-column-reverse row-gap-5">
                    <div class="col-md-6">
                        <img :src="webProdAll" class="img-fluid rounded" alt="Cordvalley Agricultural Products Trading Products">
                    </div>
                    <div class="col-md-6 px-4">
                        <h1 class="fw-bold fs-lg primary-color mb-4">Welcome to Cordvalley Agricultural Products Trading</h1>
                        <p class="fs-5">
                            At <b>Cordvalley Agricultural Products Trading</b>, we are committed to enhancing lives through nature's bounty.
                            Our products are crafted from potent, natural ingredients, carefully sourced and meticulously studied by experts to ensure they support a safer
                            and healthier lifestyle. We believe in the power of nature, and our mission is to bring its benefits to you in the most effective and accessible way.
                        </p>
                        <a href="tel:09171324563" class="btn btn-warning btn-lg fw-bold">Call Us Now</a>
                    </div>
                </div>

                <div id="our-products" class="pt-10 text-center">
                    <h2 class="fs-lg fw-bold mb-5 primary-color">Explore Our Products</h2>
                    <div class="row justify-content-center row-gap-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="d-flex align-items-center" style="min-height: 320px;">
                                    <img :src="webProdSup" class="card-img-top" alt="Organic Supplements">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title fw-bold fs-2">Organic Supplements</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <div class="d-flex align-items-center" style="min-height: 320px;">
                                    <img :src="webProdFer" class="card-img-top" alt="Organic Fertilizers">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title fw-bold fs-2">Organic Fertilizers</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-10 px-4 img-background bg-overlay text-white text-center" style="background-image: url('https://images.pexels.com/photos/2165688/pexels-photo-2165688.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
            <div class="mx-auto" style="max-width: 700px;">
                <h2 class="fs-lg fw-bold mb-4">Grow with Us</h2>
                <p class="fs-5">
                    Cordvalley Agricultural Products Trading isn’t just about providing top-quality products; 
                    we’re also about empowering others. We offer lucrative business opportunities for those looking to increase their profits and achieve financial success. 
                    With our effective products and innovative marketing strategies, we provide the tools and support needed to grow your business and reach your goals.
                </p>
                <a href="tel:09171324563" class="btn btn-warning btn-lg fw-bold">Call Us Now</a>
            </div>
        </div>

        <div id="join-us" class="container py-10">
            <div class="row align-items-center row-gap-5">
                <div class="col-md-6 px-4">
                    <h2 class="fw-bold fs-lg primary-color mb-4">Join Us Today</h2>
                    <p class="fs-5">
                        Whether you’re seeking products that promote a healthier lifestyle or looking for a rewarding business opportunity, 
                        Cordvalley Agricultural Products Trading is your partner in success. Explore our offerings and discover how we can help you achieve more.
                    </p>
                    <a href="tel:09171324563" class="btn btn-warning btn-lg fw-bold">Call Us Now</a>
                </div>
                <div class="col-md-6">
                    <div class="px-4">
                        <h3 class="fs-3 fw-bold mb-4">Visit Us</h3>
                        <p>
                            <a href="https://goo.gl/maps/PE4eE6qM573xjDRB8" target="_blank" class="icon-link fs-4 primary-color">
                                <i class="bi bi-pin-map-fill"></i>
                                <div class="flex-1">PK 5 Zamora, Cabarroguis, Quirino</div>
                            </a>
                        </p>
                        <div class="d-flex column-gap-3">
                            <a href="mailto:dansaweygal@yahoo.com">
                                <Button icon="pi pi-envelope" severity="primary" raised rounded aria-label="Email us" />
                            </a>
                            <a href="https://www.facebook.com/cordvalleytrading/" target="_blank">
                                <Button icon="pi pi-facebook" severity="primary" raised rounded aria-label="Facebook page" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3825.3476548165304!2d121.5217353!3d16.5085373!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33907383ebcdc17f%3A0x31dc7a64b77895e4!2sPaz%20Store!5e0!3m2!1sen!2sph!4v1724461022609!5m2!1sen!2sph" height="450" style="border: 0; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </Layout>
</template>