<script setup>
import { computed } from 'vue'
import { router } from '@inertiajs/vue3'

const props = defineProps({
    admin: Object,
    isMain: {type:Boolean, default:false}
})

const model = defineModel()

const option  = computed(() => {
    let has = props.admin?.id && props.admin?.id >= 1
    let url = route('admin.admins.store')
    if (props.isMain) {
        url = route('admin.admin_main_update')
    } else if (has) {
        url = route('admin.admins.update', props.admin?.id)
    }

    return {
        valid: has,
        title: has ? "Edit " + props.admin?.fullname : "Add Admin",
        url
    }
}) 

// Field inputs
const formFields = {
    fname: null,
    mname: null,
    lname: null,
    username: null,
    password: null,
    password_old: null,
    password_confirmation: null,
}

function success () {
    model.value = false
    router.reload()
}

</script>
<template>
    <Dialog v-model:visible="model" modal :header="option.title" :style="{ width: '50rem' }">
        <CustomForm :formFields="{
                ...formFields, 
                ...admin,
                edit_login: (option.valid) ? false : true
            }"
            :url="option.url" :method="option.valid ? 'put' : 'post'" @onSuccess="success()" @onCancel="model = false">
            <template #default="{ form }">
                <div class="row" :data-any="JSON.stringify(option)">
                    <div class="col-md-12">
                        <h5>General Information</h5>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputFname">First Name *</label>
                            <InputText id="inputFname" v-model="form.fname" :invalid="form.errors.hasOwnProperty('fname')" autocomplete="off" />
                            <InvalidFeedback :error="form.errors.fname"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputMname">Middle Name *</label>
                            <InputText id="inputMname" v-model="form.mname" :invalid="form.errors.hasOwnProperty('mname')" autocomplete="off" />
                            <InvalidFeedback :error="form.errors.mname"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputLname">Last Name *</label>
                            <InputText id="inputLname" v-model="form.lname" :invalid="form.errors.hasOwnProperty('lname')" autocomplete="off" />
                            <InvalidFeedback :error="form.errors.lname"/>
                        </div>
                    </div>

                    <div class="col-md-12 pt-4">
                        <h5>Login Information</h5>
                        <div class="d-flex align-items-center mb-4" v-if="option.valid">
                            <InputSwitch inputId="switchEditLogin" v-model="form.edit_login"/>
                            <label for="switchEditLogin" class="check-radio-label ms-2">Edit Login Information</label>
                        </div>
                    </div>
                    
                    <template v-if="isMain">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputUsername">Username</label>
                                <InputText id="inputUsername" v-model="form.username" :disabled="!form.edit_login" :invalid="form.errors.hasOwnProperty('username')" autocomplete="off" />
                                <InvalidFeedback :error="form.errors.username"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputOldPassword">Old Password</label>
                                <Password inputId="inputOldPassword" v-model="form.password_old" :disabled="!form.edit_login" toggleMask :feedback="false" :invalid="form.errors.hasOwnProperty('password_old')"  />
                                <InvalidFeedback :error="form.errors.password_old"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputNewPassword">New Password</label>
                                <Password inputId="inputNewPassword" v-model="form.password" :disabled="!form.edit_login" toggleMask :feedback="false" :invalid="form.errors.hasOwnProperty('password')"  />
                                <InvalidFeedback :error="form.errors.password"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="inputConfirmPassword">New Confirm Password</label>
                                <Password inputId="inputConfirmPassword" v-model="form.password_confirmation" :disabled="!form.edit_login" toggleMask :feedback="false" :invalid="form.errors.hasOwnProperty('password_confirmation')"  />
                                <InvalidFeedback :error="form.errors.password_confirmation"/>
                            </div>
                        </div>
                    </template>

                    <template v-else>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputUsername">Username</label>
                                <InputText id="inputUsername" v-model="form.username" :disabled="!form.edit_login" :invalid="form.errors.hasOwnProperty('username')" autocomplete="off" />
                                <InvalidFeedback :error="form.errors.username"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <Password inputId="inputPassword" v-model="form.password" :disabled="!form.edit_login" toggleMask :feedback="false" :invalid="form.errors.hasOwnProperty('password')"  />
                                <InvalidFeedback :error="form.errors.password"/>
                            </div>
                        </div>
                    </template>
                </div>
            </template>
        </CustomForm>
    </Dialog>
</template>