<script setup>
import { ref } from 'vue'
import { router } from '@inertiajs/vue3'
import FieldSelectAddress from '@/components/FieldSelectAddress.vue'

const props = defineProps({
    member: Object,
})

const model = defineModel()

const genders = [
    { name: 'Male', value: 1 },
    { name: 'Female', value: 2 },
]

const hasData = props.member?.id && props.member?.id >= 1
const title = (hasData) ? "Edit " + props.member?.fullname : "Add Member"
const url = (hasData) ? route('admin.members.update', props.member?.id) : route('admin.members.store')

// Max date birth
const maxBday = ref(new Date())
maxBday.value.setFullYear(maxBday.value.getFullYear() - 15)
maxBday.value.setMonth(11)
maxBday.value.setDate(31)

// Field inputs
const fields = ['fname','mname','lname','suffix','bday','gender','contact_number','barangay','municipality','province', 'username','password']
const formFields = {
    ...fields.reduce((a, v) => ({ ...a, [v]: null}), {}),
    edit_login: (hasData) ? false : true
}

function success () {
    model.value = false
    router.reload()
}

</script>
<template>
    <Dialog v-model:visible="model" modal :header="title" :style="{ width: '70rem' }">
        <CustomForm :formFields="{...formFields, ...member}" :url="url" :method="hasData ? 'put' : 'post'" @onSuccess="success()" @onCancel="model = false">
            <template #default="{ form }">
                <div class="row">
                    <div class="col-md-12">
                        <h5>General Information</h5>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputFname">First Name *</label>
                            <InputText id="inputFname" v-model="form.fname" :invalid="form.errors.hasOwnProperty('fname')" autocomplete="off" />
                            <InvalidFeedback :error="form.errors.fname"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputMname">Middle Name *</label>
                            <InputText id="inputMname" v-model="form.mname" :invalid="form.errors.hasOwnProperty('mname')" autocomplete="off" />
                            <InvalidFeedback :error="form.errors.mname"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="inputLname">Last Name *</label>
                            <InputText id="inputLname" v-model="form.lname" :invalid="form.errors.hasOwnProperty('lname')" autocomplete="off" />
                            <InvalidFeedback :error="form.errors.lname"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="inputSuffix">Suffix (Ex. Jr. Sr. III)</label>
                        <InputText id="inputSuffix" v-model="form.suffix" :invalid="form.errors.hasOwnProperty('suffix')" autocomplete="off" />
                        <InvalidFeedback :error="form.errors.suffix"/>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="inputBirthDate">Birth Date *</label>
                            <Calendar v-model="form.bday" inputId="inputBirthDate" :maxDate="maxBday" date-format="yy-mm-dd" :invalid="form.errors.hasOwnProperty('bday')" autocomplete="off" />
                            <InvalidFeedback :error="form.errors.bday"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <FieldSelectDropdown v-model="form.gender" label="Gender" name="gender" :options="genders" :error="form.errors.gender" />
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="inputContactNumber">Contact Number</label>
                            <InputMask  id="inputContactNumber" mask="09999999999" placeholder="09123456789" v-model="form.contact_number" :invalid="form.errors.hasOwnProperty('contact_number')" autocomplete="off" />
                            <InvalidFeedback :error="form.errors.contact_number"/>
                        </div>
                    </div>

                    <div class="col-md-12 pt-4">
                        <h5>Address</h5>
                    </div>
                    <div class="col-md-12">
                        <FieldSelectAddress v-model:province="form.province" v-model:municipality="form.municipality" v-model:barangay="form.barangay" :errors="form.errors" />
                    </div>

                    <div class="col-md-12 pt-4">
                        <h5>Login Information</h5>
                        <div class="d-flex align-items-center mb-4" v-if="hasData">
                            <InputSwitch inputId="switchEditLogin" v-model="form.edit_login"/>
                            <label for="switchEditLogin" class="check-radio-label ms-2">Edit Login Information</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <InputText id="inputUsername" v-model="form.username" :disabled="!form.edit_login" :invalid="form.errors.hasOwnProperty('username')" autocomplete="off" />
                            <InvalidFeedback :error="form.errors.username"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <Password inputId="inputPassword" v-model="form.password" :disabled="!form.edit_login" toggleMask :feedback="false" :invalid="form.errors.hasOwnProperty('password')"  />
                            <InvalidFeedback :error="form.errors.password"/>
                        </div>
                    </div>
                </div>
            </template>
        </CustomForm>
    </Dialog>
</template>