<script setup>
import { computed } from 'vue'
import { router } from '@inertiajs/vue3'
import ModalSearch from '@/components/ModalSearch.vue'

const props = defineProps({
    networks: { type: Array, default: [] },
    purchase: Object
})

const model = defineModel()
const formDetails = computed(() => {
    let url = route('admin.purchases.store')
    let method = 'post'
    let title = 'Add Purchase'

    if (props.purchase?.id >= 1) {
        url = route('admin.purchases.update', props.purchase.id)
        method = 'put'
        title = 'Edit Purchase'
    }

    return { url, method, title }
})

const purchaseItemsFields = {
    product: {},
    product_id: null,
    price: null,
    points: null,
    quantity: null,
}

const formFields = {
    member: {},
    member_network_id: null,
    remarks: null,
    ar_number: null,
    purchased_at: null,
    items: [
        {...purchaseItemsFields},
    ]
}

function success () {
    model.value = false
    router.reload()
}

</script>
<template>
    <Dialog v-model:visible="model" modal :header="formDetails.title" :style="{ width: '60rem' }">
        <CustomForm :formFields="{
                ...formFields, 
                ...purchase
            }" 
            :url="formDetails.url" :method="formDetails.method" @onSuccess="success" @onCancel="model = false">

            <template #default="{ form }">

                <!-- Member networking account -->
                <div v-if="purchase.id >= 1">
                    <h5>{{ purchase.network_username }}</h5>
                    <p>{{ purchase.member_fullname }}</p>
                </div>
                <div v-else>
                    <div v-if="networks && networks.length >= 1">
                        <FieldSelectDropdown v-model="form.member_network_id" :error="form.errors.member_network_id" label="Networking Account" name="networking_account" :options="networks" option-label="username" option-value="id" />
                    </div>
                    <div v-else>
                        <ModalSearch 
                            title="Seach Member's Networking Account"
                            label="Member's Networking Account"
                            search-placeholder="Seach by name or username"
                            item-header-key="username"
                            item-subheader-key="fullname"
                            :url="route('admin.search_member_networks')"
                            v-model="form.member"
                            v-model:searchID="form.member_network_id"
                        />
                        <InvalidFeedback :error="form.errors.member_network_id"/>
                    </div>
                </div>

                <div class="form-group" :data-any="JSON.stringify(form.errors)">
                    <fieldset>
                        <legend>Purchase Items</legend>
                        <div v-for="(item, i) in form.items" :key="i" class="form-group border-bottom">
                            <div class="row align-items-end">
                                <div class="col-md-5">
                                    <ModalSearch 
                                        title="Seach Product"
                                        label="Product"
                                        search-placeholder="Seach by title"
                                        item-header-key="title"
                                        item-subheader-key="price"
                                        :url="route('admin.search_products')"
                                        v-model="item.product"
                                        v-model:searchID="item.product_id"
                                        @onSelect="(searchItem) => {
                                            item.price = Number(searchItem.price)
                                            item.points = Number(searchItem.points)
                                        }"
                                    />
                                    <InvalidFeedback :error="form.errors['items.'+i+'.product_id']"/>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label :for="'inputNumberPrice'+i">Price</label>
                                        <InputNumber :id="'inputNumberPrice'+i" v-model="item.price" :invalid="form.errors.hasOwnProperty('items.'+i+'.price')"/>
                                        <InvalidFeedback :error="form.errors['items.'+i+'.price']"/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label :for="'inputNumberPoints'+i">Points</label>
                                        <InputNumber :id="'inputNumberPoints'+i" v-model="item.points" :invalid="form.errors.hasOwnProperty('items.'+i+'.points')"/>
                                        <InvalidFeedback :error="form.errors['items.'+i+'.points']"/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label :for="'inputNumberQty'+i">Quantity</label>
                                        <InputNumber :id="'inputNumberQty'+i" v-model="item.quantity" :invalid="form.errors.hasOwnProperty('items.'+i+'.quantity')"/>
                                        <InvalidFeedback :error="form.errors['items.'+i+'.quantity']"/>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <Button v-if="form.items.length >= 2" icon="pi pi-times" severity="danger" aria-label="Remove" title="Remove" @click="form.items.splice(i, 1)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2 d-flex justify-content-end">
                            <Button type="button" label="Add Item" @click="form.items.push({...purchaseItemsFields})"/>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group">
                    <label for="textareaPurchaseRemarks">Remarks</label>
                    <Textarea id="textareaPurchaseRemarks" v-model="form.remarks" rows="3" :invalid="form.errors.hasOwnProperty('remarks')"/>
                    <InvalidFeedback :error="form.errors.remarks"/>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputArNumber">AR Number</label>
                            <InputText id="inputArNumber" v-model="form.ar_number" :invalid="form.errors.hasOwnProperty('ar_number')" />
                            <InvalidFeedback :error="form.errors.ar_number"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputDatePurchased">Date Purchased</label>
                            <InputText id="inputDatePurchased" type="date" v-model="form.purchased_at" :invalid="form.errors.hasOwnProperty('purchased_at')" />
                            <InvalidFeedback :error="form.errors.purchased_at"/>
                        </div>
                    </div>
                </div>
            </template>
        </CustomForm>
    </Dialog>
</template>