<script setup>
import { computed } from 'vue'
import { router } from '@inertiajs/vue3'
import ModalSearch from '@/components/ModalSearch.vue'

const props = defineProps({
    member: Object,
    payout: Object,
})

const formFields = {
    member: {...props.member},
    member_id: null,
    total_profit: props.member?.total_profit,
    remarks: null,
    requested_at: null,
}

const model = defineModel()
const formDetails = computed(() => {
    let url = route('admin.payouts.store')
    let method = 'post'
    let title = 'Add Payout'

    if (props.payout?.id >= 1) {
        url = route('admin.payouts.update', props.payout.id)
        method = 'put'
        title = 'Edit Payout'
    }

    return { url, method, title }
})

function success () {
    model.value = false
    router.reload()
}

</script>
<template>
    <Dialog v-model:visible="model" modal :header="formDetails.title" :style="{ width: '30rem' }">
        <CustomForm :formFields="{...formFields, ...payout}" :url="formDetails.url" :method="formDetails.method" @onSuccess="success" @onCancel="model = false">
            <template #default="{ form }">

                <!-- Member account -->
                <div v-if="formDetails.method == 'put' || member?.id >= 1">
                    <h5>{{ form.member.fullname }}</h5>
                    <p v-if="form.total_profit && form.total_profit >= 1">Total Profit: {{ form.total_profit }}</p>
                    <span v-else class="badge bg-danger fs-6 mb-2">No profits available</span>
                    <InvalidFeedback :error="form.errors.total_profit"/>
                </div>
                <div v-else>
                    <ModalSearch 
                        title="Seach Member"
                        label="Member"
                        search-placeholder="Seach by name or username"
                        item-header-key="username"
                        item-subheader-key="fullname"
                        item-badge-key="total_profit"
                        :url="route('admin.search_members', {with_profit: 1})"
                        v-model="form.member"
                        v-model:searchID="form.member_id"
                        @on-select="(item) => form.total_profit = Number(item.total_profit)"
                    />
                    <InvalidFeedback :error="form.errors.member_id"/>

                    <div class="form-group">
                        <label for="minmaxfractionPayout">Total Profit</label>
                        <InputNumber v-model="form.total_profit" inputId="minmaxfractionPayout" :minFractionDigits="2" :maxFractionDigits="5" fluid readonly :invalid="form.errors.hasOwnProperty('total_profit')"  />
                        <InvalidFeedback :error="form.errors.total_profit"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="textareaPayoutRemarks">Remarks</label>
                    <Textarea id="textareaPayoutRemarks" v-model="form.remarks" rows="3" :invalid="form.errors.hasOwnProperty('remarks')" />
                    <InvalidFeedback :error="form.errors.remarks"/>
                </div>

                <div class="form-group">
                    <label for="inputDateRequestPayout">Date Requested</label>
                    <InputText id="inputDateRequestPayout" type="date" v-model="form.requested_at" :invalid="form.errors.hasOwnProperty('requested_at')" />
                    <InvalidFeedback :error="form.errors.requested_at"/>
                </div>

            </template>
        </CustomForm>
    </Dialog>
</template>