<script setup>
import { ref, computed } from 'vue'
import { Head, usePage } from '@inertiajs/vue3'
import FormModalAdmin from '@/components/Admin/FormModalAdmin.vue'
import logo from '@images/logo.png'

const props = defineProps({
    title: String,
    backUrl: String,
    contentFull: Boolean,
})

const page = usePage()
const admin = computed(() => page.props.auth_admin)
const adminTitle = computed(() => page.props.admin_title)
const adminMenu = ref()
const adminMenuToggle = (event) => {
    adminMenu.value.toggle(event)
}
const adminForm = ref(false)
const adminMenuItems = [
    { name: 'Edit Account', url: null, icon: 'pi pi-pencil', command:()=> {
        adminForm.value = true
    } },
    { name: 'Logout', url: route('admin.logout'), icon: 'pi pi-sign-out' },
]

// Main menu
const menuMain =  computed(() => {
    let menu = [
        { name: 'Dashboard', url: route('admin.dashboard'), active: route().current('admin.dashboard'), icon: 'pi pi-th-large' },
        { 
            name: 'Members', 
            url: route('admin.members.index'), 
            active: (
                route().current('admin.members.*') || 
                route().current('admin.member_purchases') || 
                route().current('admin.member_payouts') ||
                route().current('admin.member_summary')
            ),
            icon: 'pi pi-users' 
        },
        { name: 'Payouts', url: route('admin.payouts.index'), active: route().current('admin.payouts.*'), icon: 'pi pi-wallet' },
    ]

    // include page code if superadmin
    if (page.props.auth_admin.is_super) {
        menu.splice(1, 0, { name: 'Codes', url: route('admin.codes.index'), active: route().current('admin.codes.*'), icon: 'pi pi-ticket' })
    }

    return menu
})

const menuCommerce = [
    { name: 'Products', url: route('admin.products.index'), active: route().current('admin.products.*'), icon: 'pi pi-warehouse' },
    { name: 'Purchases', url: route('admin.purchases.index'), active: route().current('admin.purchases.*'), icon: 'pi pi-cart-plus' },
]
const menuAdmins = [
    { name: 'Admins', url: route('admin.admins.index'), active: route().current('admin.admins.*'), icon: 'pi pi-users' },
]

</script>
<template>
    <FormModalAdmin v-model="adminForm" :admin="admin" :is-main="true" />
    <Head :title="title + ' - ' + adminTitle" />
    <!-- User Dropdown menu -->
    <Menu ref="adminMenu" :popup="true" :model="adminMenuItems" class="menu-large">
        <template #start>
            <div class="p-2">
                <h5 class="mb-0">{{ admin.username }}</h5>
                <p class="mb-0">{{ admin.fullname }}</p>
            </div>
        </template>
        <template #item="{ item }">
            <InertiaLink v-if="item.url" :href="item.url" class="p-menuitem-link">
                <span class="p-menuitem-icon" :class="item.icon" />
                <span class="p-menuitem-text">{{ item.name }}</span>
            </InertiaLink>
            <a v-else v-ripple href="#" @clicl="item.command()" class="p-menuitem-link">
                <span class="p-menuitem-icon" :class="item.icon" />
                <span class="p-menuitem-text">{{ item.name }}</span>
            </a>
        </template>
    </Menu>

    <!-- Main container -->
    <main>
        <div class="main-header">
            <Menubar>
                <template #start>
                    <div class="d-flex align-items-center">
                        <div><img :src="logo" :alt="adminTitle + ' - Logo' " width="50" class="me-2"></div>
                        <h5 class="mb-0">{{ adminTitle }}</h5>
                    </div>
                </template>
                <template #end>
                    <div class="flex align-items-center gap-2 text-right">
                        <Button :label="admin.username" severity="secondary" outlined icon="pi pi-user" @click="adminMenuToggle" />
                    </div>
                </template>
            </Menubar>
        </div>

        <!-- Side Menu -->
        <div class="main-menu">
            <!-- Main Menu -->
            <Menu :model="menuMain">
                <template #item="{ item }">
                    <InertiaLink :href="item.url" class="p-menuitem-link" :class="{ 'active': item.active }">
                        <span class="p-menuitem-icon" :class="item.icon" />
                        <span class="p-menuitem-text">{{ item.name }}</span>
                    </InertiaLink>
                </template>
            </Menu>

            <!-- Ecommerce -->
            <hr/>
            <Menu :model="menuCommerce">
                <template #item="{ item }">
                    <InertiaLink :href="item.url" class="p-menuitem-link" :class="{ 'active': item.active }">
                        <span class="p-menuitem-icon" :class="item.icon" />
                        <span class="p-menuitem-text">{{ item.name }}</span>
                    </InertiaLink>
                </template>
            </Menu>

            <!-- For Super Admin -->
            <template v-if="admin.is_super">
                <hr/>
                <Menu :model="menuAdmins">
                    <template #item="{ item }">
                        <InertiaLink :href="item.url" class="p-menuitem-link" :class="{ 'active': item.active }">
                            <span class="p-menuitem-icon" :class="item.icon" />
                            <span class="p-menuitem-text">{{ item.name }}</span>
                        </InertiaLink>
                    </template>
                </Menu>
            </template>
        </div>

        <!-- Content -->
        <div class="main-container">
            <div class="content" :class="{ fullwidth: contentFull }">
                <div class="row align-items-center mb-3">
                    <div class="col-auto" v-if="backUrl && backUrl != ''">
                        <InertiaLink :href="backUrl">
                            <Button severity="secondary" label="Back"/>
                        </InertiaLink>
                    </div>
                    <div class="col-sm">
                        <h2 class="mb-0 fw-bold">{{ title }}</h2>
                    </div>
                    <div class="col-auto">
                        <slot name="content-header-end"></slot>
                    </div>
                </div>
                <div><slot></slot></div>
            </div>
        </div>
    </main>
</template>
