<script setup>
import { ref } from 'vue'
import CustomDatatable from '@/components/CustomDatatable.vue'
import ModalConfirmDelete from '@/components/ModalConfirmDelete.vue'
import FormModalPayout from '@/components/Admin/FormModalPayout.vue'

const props = defineProps({
    result: Object,
    member: Object,
})

const payoutModal = defineModel('payoutModal')
const payout = defineModel()
function editModalShow(data) {
    payoutModal.value = true
    payout.value = data
}

const deleteModal = ref(false)
const deleteModalUrl = ref('')
const deleteModalTitle = ref('')
function deleteModalShow(title, url) {
    deleteModalUrl.value = url
    deleteModalTitle.value = title
    deleteModal.value = true
}

</script>
<template>
    <div>
        <FormModalPayout v-model="payoutModal" :member="member" :payout="payout" />

        <!-- Delete modal -->
        <ModalConfirmDelete v-model="deleteModal" :title="deleteModalTitle" :url="deleteModalUrl" />

        <CustomDatatable :result="result" :with-select-address="false" search-placeholder="Search Payout">
            <DataTable class="v-align-top" :value="result.data">
                <Column field="member.fullname" header="Member"></Column>
                <Column field="total_profit" header="Total Profits"></Column>
                <Column field="remarks" header="Remarks"></Column>
                <Column field="admin.fullname" header="Created by"></Column>
                <Column field="requested" class="column-compact" header="Requested"></Column>
                <Column field="confirmed" class="column-compact" header="Confirmed"></Column>

                <Column header="Actions" class="column-compact">
                    <template #body="{ data }">
                        <SplitButton severity="secondary" label="Edit" 
                            @click="editModalShow(data)"
                            :model="[
                                { label: 'Delete', command:()=> deleteModalShow(
                                    data.member.fullname + ' - ' + data.total_profit + ' profit'
                                    , route('admin.payouts.destroy', data.id)
                                ) },
                            ]"/>
                    </template>
                </Column>
            </DataTable>
        </CustomDatatable>
    </div>
</template>