<script setup>
import { ref } from 'vue'
import CustomDatatable from '@/components/CustomDatatable.vue'
import ModalConfirmDelete from '@/components/ModalConfirmDelete.vue'
import FormModalPurchase from '@/components/Admin/FormModalPurchase.vue'

const props = defineProps({
    result: Object,
    networks: { type: Array, default: [] },
})

const purchase = defineModel()
const purchaseModal = defineModel('purchaseModal')
function updateModal(data) {
    let items = data.items.map(i => {
        i.price = Number(i.price)
        i.points = Number(i.points)
        i.quantity = Number(i.quantity)
        return i
    })
    purchase.value = {...data, items}
    purchaseModal.value = true
}

const modalView = ref(false)
const modalViewItem = ref({})
function modalViewShow(data) {
    modalViewItem.value = data
    modalView.value = true
}


const deleteModal = ref(false)
const deleteModalUrl = ref('')
const deleteModalTitle = ref('')
function deleteModalShow(title, url) {
    deleteModalUrl.value = url
    deleteModalTitle.value = "AR #" + title
    deleteModal.value = true
}

</script>
<template>
    <div>
        <!-- View Purchase Items -->
        <Dialog v-model:visible="modalView" modal :header="'AR # '+modalViewItem.ar_number" :style="{ width: '50rem' }">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Points</th>
                        <th>Quantity</th>
                        <th>Total Points</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, i) in modalViewItem.items" :key="i">
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.points }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.total_points }}</td>
                        <td>{{ item.total_amount }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">Total</th>
                        <th>{{ modalViewItem.total_points }}</th>
                        <th>{{ modalViewItem.total_amount }}</th>
                    </tr>
                </tfoot>
            </table>
            <div class="d-flex justify-content-end gap-2 mt-4">
                <Button type="button" label="Close" severity="secondary" @click="modalView = false"></Button>
            </div>
        </Dialog>

        <!-- Delete modal -->
        <ModalConfirmDelete v-model="deleteModal" :title="deleteModalTitle" :url="deleteModalUrl" />

        <!-- Create Update Modal -->
        <FormModalPurchase v-model="purchaseModal" :purchase="purchase" :networks="networks" />

        <CustomDatatable :result="result" :with-select-address="false" search-placeholder="Search Purchase">
            <DataTable class="v-align-top" :value="result.data">
                <Column field="ar_number" class="column-compact" header="AR#"></Column>
                <Column field="total_amount" header="Total Amount"></Column>
                <Column field="total_points" header="Total Points"></Column>
                <Column header="Member Networking">
                    <template #body="{ data }">
                        <p class="mb-0">{{ data.network_username }}</p>
                        <small>{{ data.member_fullname }}</small>
                    </template>
                </Column>

                <Column field="remarks" header="Remarks"></Column>
                <Column field="purchased" header="Date"></Column>
                <Column field="admin.fullname" header="Created by"></Column>
                <Column field="created" class="column-compact" header="Date Created"></Column>

                <Column header="Actions" class="column-compact">
                    <template #body="{ data }">
                        <SplitButton severity="secondary" label="View" 
                            @click="modalViewShow(data)"
                            :model="[
                                { label: 'Edit', command:()=> updateModal(data) },
                                { label: 'Delete', command:()=> deleteModalShow(data.ar_number, route('admin.purchases.destroy', data.id)) },
                            ]"/>
                    </template>
                </Column>
            </DataTable>
        </CustomDatatable>
    </div>
</template>