<script setup>
import { ref } from 'vue'
import CustomDatatable from '@/components/CustomDatatable.vue'
import FormModalMember from '@/components/Admin/FormModalMember.vue'

defineProps({
    result: Object,
})

const modalForm = ref(false)

</script>
<template>
    <LayoutAdmin title="Members">
        <template #content-header-end>
            <Button label="Add Member" @click="modalForm = true" />
        </template>
        <template #default>
            <FormModalMember v-model="modalForm"/>

            <CustomDatatable :result="result">
                <DataTable :value="result.data">
                    <Column field="fullname" header="Name"></Column>
                    <Column field="username" header="Username"></Column>
                    <Column field="networking_count" header="No. of Accounts"></Column>
                    <Column field="address" header="Address"></Column>
                    <Column field="bday_str" header="Birthdate"></Column>
                    <Column field="registered" class="column-compact" header="Date Registered"></Column>
                    <Column header="Actions" class="column-compact">
                        <template #body="{ data }">
                            <InertiaLink :href="route('admin.members.show', data.id)">
                                <Button icon="pi pi-angle-right" outlined rounded aria-label="View" />
                            </InertiaLink>
                        </template>
                    </Column>
                </DataTable>
            </CustomDatatable>
        </template>
    </LayoutAdmin>
</template>