<script setup>
import { ref } from 'vue'
import TablePayouts from '@/components/Admin/TablePayouts.vue'
import MemberLayout from '@/pages/Admin/Members/MemberLayout.vue'

const props = defineProps({
    member: Object,
    result: Object,
})

const payoutModal = ref(false)
const payout = ref({})

</script>
<template>
    <MemberLayout title="Payouts" :member="member">
        <template #content-header-end>
            <Button label="Add Payout" @click="payout = {}, payoutModal = true"/>
        </template>
        <template #default>
            <TablePayouts v-model="payout" v-model:payoutModal="payoutModal" :result="result" :member="member" />
        </template>
    </MemberLayout>
</template>