<script setup>
import { ref } from 'vue'
import TablePurchases from '@/components/Admin/TablePurchases.vue'
import MemberLayout from '@/pages/Admin/Members/MemberLayout.vue'

const props = defineProps({
    member: Object,
    result: Object,
})

const purchaseModal = ref(false)
const purchase = ref({})

</script>
<template>
    <MemberLayout title="Purchases" :member="member">
        <template #content-header-end>
            <Button label="Add Purchase" @click="purchase = {}, purchaseModal = true"/>
        </template>
        <template #default>
            <TablePurchases v-model="purchase" v-model:purchaseModal="purchaseModal" :networks="member?.networks" :result="result" />
        </template>
    </MemberLayout>
</template>