<script setup>
import TableSummary from '@/components/Member/TableSummary.vue'
import MemberLayout from '@/pages/Admin/Members/MemberLayout.vue'
const props = defineProps({
    member: Object,
    result: Object,
})
</script>
<template>
    <MemberLayout title="Profit Summary" :member="member">
        <template #default>
            <TableSummary :result="result" />
        </template>
    </MemberLayout>
</template>