<script setup>
import { ref } from 'vue'
import ListInformation from '@/components/Member/ListInformation.vue'
import TableNetworking from '@/components/Member/TableNetworking.vue'
import FormModalMember from '@/components/Admin/FormModalMember.vue'
import FormModalNetworkCreate from '@/components/Member/FormModalNetworkCreate.vue'
import CardPoints from '@/components/Member/CardPoints.vue'
import MemberLayout from '@/pages/Admin/Members/MemberLayout.vue'

const props = defineProps({
    member: Object,
    networks: { type: Array, default: [] },
})

const modalFormMember = ref(false)
const modalFormNetwork = ref(false)

</script>
<template>
    <MemberLayout title="Profile" :member="member">
        <template #default>
            <FormModalMember v-model="modalFormMember" :member="member" />
            <FormModalNetworkCreate v-model="modalFormNetwork" :member-id="member.id" :store-url="route('admin.members.networks.store', member.id)" />

            <div class="row">
                <div class="col-lg-3">
                    <div class="mb-4">
                        <CardPoints :current="member.total_balance" :profit="member.total_profit" :payout="member.total_payout"/>
                    </div>

                    <!-- General Information -->
                     <ListInformation :member="member">
                        <Button label="Edit" @click="modalFormMember = true" />
                     </ListInformation>
                </div>

                <div class="col-lg-9">
                    <!-- Networking Accounts -->
                    <TableNetworking :member-id="member?.id" :networks="networks" :is-admin="true">
                        <Button label="Add Networking Account" @click="modalFormNetwork = true"/>
                    </TableNetworking>
                </div>
            </div>
        </template>
    </MemberLayout>
</template>