<script setup>
import { computed } from 'vue'
const props = defineProps({
    member: {type: Object, required: true},
    title: String
})

const subtitle = computed(() => {
    if (props.title && props.title != '') return ' | ' + props.title 
    return ''
})

</script>
<template>
    <LayoutAdmin :title="member?.fullname + subtitle" :content-full="true" :back-url="route('admin.members.index')">
        <template #content-header-end>
            <slot name="content-header-end"></slot>
        </template>
        <template #default>
            <Menubar :model="[
                { name: 'Profile', url: route('admin.members.show', member.id), active: route().current('admin.members.show', member.id), icon: 'pi pi-user' },
                { name: 'Purchases', url: route('admin.member_purchases', member.id), active: route().current('admin.member_purchases', member.id), icon: 'pi pi-cart-plus' },
                { name: 'Payouts', url: route('admin.member_payouts', member.id), active: route().current('admin.member_payouts', member.id), icon: 'pi pi-wallet' },
                { name: 'Profit Summary', url: route('admin.member_summary', member.id), active: route().current('admin.member_summary', member.id), icon: 'pi pi-briefcase' },
            ]"
            class="mb-4">
                <template #item="{ item }">
                    <InertiaLink :href="item.url" class="p-menuitem-link" :class="{ 'active': item.active }">
                        <span class="p-menuitem-icon" :class="item.icon" />
                        <span class="p-menuitem-text">{{ item.name }}</span>
                    </InertiaLink>
                </template>
            </Menubar>
            <slot />
        </template>
    </LayoutAdmin>
</template>