// Variables
@import 'variables';

// Primevue
@layer reset, primevue;
@import 'primeicons/primeicons.css';
@import 'primevue/resources/themes/aura-light-green/theme.css';

// Bootstrap
@layer bootstrap {
    @import "bootstrap/scss/bootstrap";
    @import "bootstrap/scss/bootstrap-reboot";
}

body, html {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    background-color: #f0f2f540;
}

.primary-color {
    color: var(--primary-color);
}
.text-shadow {
    text-shadow: 2px 3px 20px #000000;
}

main {
    position: relative;
    &:not(.web) {
        font-size: 14px;
    }
    .main-header {
        position: sticky;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 5;
        &.main-header-fixed {
            position: fixed;
        }
        .p-menubar {
            border-radius: 0px;
            border: none;
            border-bottom: 2px solid var(--primary-color);
            a {
                color: var(--gray-950);
                &:hover{
                    color: var(--primary-color);
                }
            }
            .p-button-secondary {
                background-color: #fff;
            }
        }
        &.main-header-transparent {
            .p-menubar {
                background-color: transparent;
                color: #fff;
                a {
                    color: #fff;
                    &:hover{
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
    .main-menu {
        position: fixed;
        top: auto;
        left: auto;
        width: 300px;
        padding: 15px; 
        .p-menu {
            padding: 0px;
            border: none;
            background: none;
            a {
                font-family: Nunito, Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 600;
                padding: 10px 5px;
                .p-menuitem-icon {
                    margin-right: 15px;
                    font-size: 18px;
                }
            }
        }
    }
    .main-container {
        padding: 15px; 
        padding-left: 0px;
        margin-left: 320px;
        >.content {
            max-width: $container-max-width;
            margin-inline: auto;
            &.fullwidth {
                max-width: none;
            }
        }
    }
    .main-container.no-sidebar {
        margin-left: 0px;
        padding: 0px;
    }
    &.web .p-menubar.p-component{
        border-bottom: none;
    }
}

a {
    text-decoration: none;
    &.active {
        background-color: var(--highlight-bg);
        color: var(--highlight-text-color);
        span {
            color: var(--highlight-text-color);
        }
    }
    &.icon-link {
        align-items: center;
        .bi {
            height: auto;
        }
    }
}

ul {
    padding-left: 0px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255,255,255,0.5);
    > .loader-content {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}

.flex-gap {
    gap: 15px;
}

.code-text:not(th) {
    font-family: 'Courier New', Courier, monospace;
    user-select: all;
}

.img-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-overlay {
    position: relative;
    &::after{
        content: "";
        position: absolute;
        z-index: 1;
        inset: 0 0 0 0;
        background-color: rgba($color: #000000, $alpha: 0.35);
    }
    &.bg-overlay-white::after {
        background-color: rgba($color: #fff, $alpha: 0.75);
    }
    & > div {
        position: relative;
        z-index: 2;
    }
}

.transition {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

// form
label.check-radio-label {
    cursor: pointer;
    user-select: none;
}
.form-group {
    margin-bottom: 10px;
}
fieldset {
    margin: .5rem 0px;
    padding: 0.5rem 0.75rem;
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-width) solid var(--bs-dark-border-subtle);
    legend {
        font-size: inherit;
        float: none;
        width: auto;
    }
}

// Datatable
table {
    td.column-compact {
        width: 0px;
        white-space: nowrap;
    }
    td, th {
        transition: all .3s;
        border-color: var(--bs-border-color);
        border-width: 0 0 1px 0;
        button {
            padding: 5px 10px;
            font-size: .85em;
        }
    }
    tbody.p-datatable-tbody > tr:hover > td {
        background-color: var(--bs-info-bg-subtle);
    }
    th.text-end > div.p-column-header-content{
        justify-content: end;
    }
}
.p-datatable.v-align-top {
    td, th {
        vertical-align: top;
    }
}

// PrimeVue Customs
.p-float-label {
    margin-top: 20px;
}
.p-inputtext, .p-inputwrapper {
    width: 100%;
}

.p-card {
    position: relative;
    .p-card-title {
        button, .btn, .p-button {
            font-size: $font-size-base;
            font-weight: normal;
        }
    }
    .p-card-body {
        padding: 1.2rem;
        .list-group-item {
            padding-inline: 0px;
            background-color: transparent;
        }
    }
}

.p-button {
    border-radius: 6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    &.p-button-secondary {
        border: 1px solid #ededed;
    }
    &.p-button-rounded {
        border-radius: 999px;
    }
}

.p-paginator-rpp-options {
    width: auto;
}
.p-menu.menu-large {
    .p-menuitem {
        border-top: 1px solid var(--bs-dark-border-subtle);
        .p-menuitem-content {
            padding: 8px 0px;
        }
    }
}

// genelaogy
.genealogy {
    .card {
        width: 12rem;
        .card-text {
            font-size: .8em;
        }
    }
    .btn {
        display: block;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        td {
            vertical-align: top;
            border: 0px;
            min-width: 200px;
            border-collapse: collapse;
        }
    }
    &-item-leg {
        height: 20px;
        border: 1px solid var(--bs-dark-border-subtle);
        width: 0px;
        margin-inline: auto;
        margin-bottom: -2px;
        &-lft, &-rgt {
            height: 20px;
            width: 50%;
            border-color: var(--bs-dark-border-subtle);
            border-style: solid;
        }
        &-lft {
            margin-left: auto;
            margin-right: -1px;
            border-width: 2px 0 0 2px;
        }
        &-rgt {
            margin-right: auto;
            margin-left: -1px;
            border-width: 2px 2px 0 0;
        }
    }
}

// carousel
.p-carousel.carousel-main-banner {
    .p-carousel-content, .p-carousel-container {
        height: 100%;
        display: block;
        position: relative;
    }
    .p-carousel-item {
        height: 100vh;
        min-height: 500px;
        .carousel-main-item {
            position: relative;
            height: 100%;
            background-color: #D0CD70;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
            .carousel-main-item-content {
                position: relative;
                z-index: 2;
                color: #fff;
                text-align: center;
                text-shadow: 2px 3px 20px #000000;
                max-width: 600px;
            }
            &::after{
                content: "";
                position: absolute;
                z-index: 1;
                inset: 0 0 0 0;
                background-color: rgba($color: #000000, $alpha: 0.35);
            }
        }
    }
    .p-carousel-prev, .p-carousel-next {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-100%);
        color: #fff;
        .p-icon {
            width: 5rem;
            height: 5rem;
            font-size: 50px;
        }
    }
    .p-carousel-prev {
        left: 20px;
    }
    .p-carousel-next {
        right: 20px;
    }
    ul.p-carousel-indicators{
        position: absolute;
        padding: 0px;
        left: 50%;
        bottom: 15px;
        transform: translateX(-50%);
        > li:last-child {
            margin-right: 0px;
        }
    }
}