<script setup>
import { ref, computed } from 'vue'
import { Head, usePage } from '@inertiajs/vue3'
import logo from '@images/logo.png'

const page = usePage()
const member = computed(() => page.props.auth_member)

const menuItems = Array(
    { name: 'Home', route: 'member.dashboard', icon: 'pi pi-home' },
    { name: 'Purchases', route: 'member.purchases', icon: 'pi pi-cart-plus' },
    { name: 'Profit Summary', route: 'member.summary', icon: 'pi pi-briefcase' },
)
const menu = computed(() => {
    return menuItems.map( e => {
        e.url = route(e.route)
        e.active = route().current(e.route)
        return e
    })
})

</script>
<template>
    <Head :title="member.fullname" />
    <div class="main-header main-header-small">
        <Menubar>
            <template #start>
                <div class="d-flex align-items-center">
                    <div><img :src="logo" :alt="member.username + ' - Logo' " width="30" class="me-2"></div>
                    <h5 class="mb-0 d-none d-lg-block fs-6">{{ member.username }}</h5>
                </div>
            </template>
        </Menubar>
    </div>
    <div class="container mx-auto p-4">
        <div class="d-flex">
            <div class="w-100">
                <p class="fs-4 fw-semibold">{{ member.fullname }}</p>
            </div>
        </div>
        <Menubar :model="menu" class="mb-4">
            <template #item="{ item }">
                <InertiaLink :href="item.url" class="p-menuitem-link" :class="{ 'active': item.active }">
                    <span class="p-menuitem-icon" :class="item.icon" />
                    <span class="p-menuitem-text">{{ item.name }}</span>
                </InertiaLink>
            </template>
        </Menubar>
        <slot/>
    </div>
</template>