<script setup>
import { usePage, Head } from '@inertiajs/vue3'
import Sidebar from 'primevue/sidebar'
import logo from '@images/logo.png'

const formFields = {
    username: null,
    password: null
}
</script>
<template>
    <Head>
        <title>Member Login - Cordvalley Agricultural Products Trading</title>
        <meta name="description" content="Cordvalley Agricultural Products Trading member dashboard.">
    </Head>
    <div class="d-flex align-items-stretch" style="min-height: 100vh;">
        <div class="w-100 img-background bg-overlay bg-success" style="background-image: url('https://images.pexels.com/photos/1462892/pexels-photo-1462892.jpeg');">
            <div class="h-100 d-flex align-items-center justify-content-middle">
                <div class="text-white text-center mx-auto" style="max-width: 550px;">
                    <h1 class="fs-1 fw-bold">Our Mission</h1>
                    <p class="fs-4 fw-semibold text-shadow">
                        To promote entrepreneurship through trainings and seminars to farmers and entrepreneurs to 
                        increase the yields of all crops in the respective Regions.
                    </p>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="h-100 d-flex align-items-center justify-content-middle">
                <div class="p-4 mx-auto" style="max-width: 350px;">
                    <Card>
                        <template #title>
                            <div class="text-center">
                                <div><a href="/"><img :src="logo" alt="Cordvalley Agricultural Products Trading Logo" width="100" class="mb-2"></a></div>
                                <h5 class="mb-0">Member Login</h5>
                            </div>
                        </template>
                        <template #content>
                            <CustomForm :formFields="formFields" :url="route('member.login_post')" :with-cancel="false" submit-label="Login" :submit-fluid="true">
                                <template #default="{ form }">
                                    <div class="form-group">
                                        <label for="inputUsername">Username</label>
                                        <InputText id="inputUsername" v-model="form.username" :invalid="form.errors.hasOwnProperty('username')" autocomplete="off" required />
                                        <InvalidFeedback :error="form.errors.username"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputPassword">Password</label>
                                        <Password v-model="form.password" inputId="inputPassword" toggleMask :feedback="false" required :invalid="form.errors.hasOwnProperty('password')" />
                                        <InvalidFeedback :error="form.errors.password"/>
                                    </div>
                                </template>
                            </CustomForm>
                        </template>
                    </Card>
                    <div class="mt-4">
                        <InertiaLink :href="route('home')">
                            <Button class="w-100" severity="secondary" label="Go Back Home" />
                        </InertiaLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>