<script setup>
import { ref, computed } from 'vue'
import CustomDatatable from '@/components/CustomDatatable.vue'
import ModalConfirmDelete from '@/components/ModalConfirmDelete.vue'

const props = defineProps({
    result: Object,
})

const productModal = ref(false)
const productModalUrl = ref('')
const productModalItem = ref({})

const productModalHeader = computed(()=>{
    let title = productModalItem.value?.title
    return (title && title != '') ? "Edit " + title : "Add Product"
})
const productModalMethod = computed(() => {
    let id = productModalItem.value?.id
    return (id && id != '') ? 'put' : 'post'
})

function addProductModal() {
    productModalUrl.value = route('admin.products.store')
    productModalItem.value = {
        title: null,
        abbreviation: null,
        description: null,
        price: null,
        price_discounted: null,
        points: null
    }
    productModal.value = true
}

function editProfuctModal(url, data) {
    productModalUrl.value = url

    data.price = Number(data.price)
    data.price_discounted = Number(data.price_discounted)
    data.points = Number(data.points)
    productModalItem.value = data
    productModal.value = true
}

const deleteModal = ref(false)
const deleteModalUrl = ref('')
const deleteModalTitle = ref('')
function deleteModalShow(title, url) {
    deleteModalUrl.value = url
    deleteModalTitle.value = title
    deleteModal.value = true
}

</script>
<template>
    <LayoutAdmin title="Products">
        <template #content-header-end>
            <Button label="Add Product" @click="addProductModal()"/>
        </template>
        <template #default>
            <!-- Delete modal -->
            <ModalConfirmDelete v-model="deleteModal" :title="deleteModalTitle" :url="deleteModalUrl" />

            <!-- Create Update modal -->
            <Dialog v-model:visible="productModal" modal :header="productModalHeader" :style="{ width: '50rem' }">
                <CustomForm :formFields="productModalItem" :url="productModalUrl" :method="productModalMethod" @onSuccess="productModal = false" @onCancel="productModal = false">
                    <template #default="{ form }">

                        <div class="form-group">
                            <label for="inputProductTitle">Title</label>
                            <InputText id="inputProductTitle" v-model="form.title" :invalid="form.errors.hasOwnProperty('title')" />
                            <InvalidFeedback :error="form.errors.title"/>
                        </div>

                        <div class="form-group">
                            <label for="inputProductAbbreviation">Abbreviation</label>
                            <InputText id="inputProductAbbreviation" v-model="form.abbreviation" :invalid="form.errors.hasOwnProperty('abbreviation')" />
                            <InvalidFeedback :error="form.errors.abbreviation"/>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputProductPrice">Price</label>
                                    <InputNumber id="inputProductPrice" v-model="form.price" :min="1" :minFractionDigits="2" :invalid="form.errors.hasOwnProperty('price')" />
                                    <InvalidFeedback :error="form.errors.price"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputProductPoints">Points</label>
                                    <InputNumber id="inputProductPoints" v-model="form.points" :min="1" :minFractionDigits="2" :invalid="form.errors.hasOwnProperty('points')" />
                                    <InvalidFeedback :error="form.errors.points"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textareaProductDesc">Description</label>
                            <Textarea id="textareaProductDesc" v-model="form.description" rows="3" :invalid="form.errors.hasOwnProperty('description')"/>
                            <InvalidFeedback :error="form.errors.description"/>
                        </div>
                    </template>
                </CustomForm>
            </Dialog>

            <CustomDatatable :result="result" :with-select-address="false" search-placeholder="Search Product">
                <DataTable class="v-align-top" :value="result.data">
                    <Column field="title" header="Title"></Column>
                    <Column field="abbreviation" header="Abbr."></Column>
                    <Column field="description" header="Description"></Column>
                    <Column field="price" header="Price"></Column>
                    <Column field="points" header="Points"></Column>
                    <Column field="admin.fullname" header="Created by"></Column>
                    <Column field="created" class="column-compact" header="Date Created"></Column>
                    <Column header="Actions" class="column-compact">
                        <template #body="{ data }">
                            <SplitButton severity="secondary" label="Edit" 
                                @click="editProfuctModal(route('admin.products.update', data.id), data)"
                                :model="[
                                    { label: 'Delete', command:()=> deleteModalShow(data.title, route('admin.products.destroy', data.id)) },
                                ]"/>
                        </template>
                    </Column>
                </DataTable>
            </CustomDatatable>

        </template>
    </LayoutAdmin>
</template>