<script setup>
import { ref } from 'vue'
import { useToast } from "primevue/usetoast"

const props = defineProps({
    text: [String, Number, Array],
    label: String,
})
const toast = useToast()
const textarea = ref()

function copyText () {
    let text = props.text
    if (Array.isArray(text)) text = text.join("\n")

    const textareaVal = textarea.value
    textareaVal.value = text
    textareaVal.select()
    textareaVal.setSelectionRange(0, 99999) // for mobile

    console.log(textareaVal.value)

    try {
        navigator.clipboard.writeText(textareaVal.value)
        toast.add({ severity: 'contrast', summary: 'Text Copied', detail: text, life: 3000 })

    } catch (err) {
        toast.add({ severity: 'error', summary: "Can't copy text", detail: err, life: 3000 })
    }
}

</script>
<template>
    <div>
        <Button :label="label" @click="copyText()" />
        <textarea ref="textarea"></textarea>
    </div>
</template>