<script setup>
import { ref, watch } from 'vue'
import { router, usePage } from '@inertiajs/vue3'
import FieldSelectAddress from '@/components/FieldSelectAddress.vue'
import debounce from 'lodash.debounce'

const query = usePage().props?.query
const filter = ref({...query})

const rowsPerPageOptions = [10, 20, 50, 100]
const props = defineProps({
    result: Object, // result based on Laravel Paginate
    searchPlaceholder: { type: String, default: 'Search Name' },
    withSearch: { type: Boolean, default: true },
    withSelectAddress: { type: Boolean, default: true }
})

// loading
const loading = ref(false)
router.on('progress', ()=> loading.value = true)
router.on('finish', ()=> loading.value = false)

function submit() {
    router.reload({ data: filter.value })
}

function page(event) {
    filter.value.per_page = event.rows
    filter.value.page = Number(event.page) + +1
    submit()
}

//
watch(
    () => filter.value.search,
    debounce(()=>{
        submit()
    }, 500)
)
</script>
<template>
    <Card>
        <template #content>
            <div v-if="withSearch || withSelectAddress" class="row align-items-start mb-4">
                <div v-if="withSearch" class="col-sm">
                    <div class="row">
                        <div class="col-sm">
                            <!-- Search Input -->
                            <label for="inputFilterSearch">{{ searchPlaceholder }}</label>
                            <InputText type="search" id="inputFilterSearch" v-model="filter.search" autocomplete="off" />
                        </div>
                        <div class="col-sm">
                            <!-- Empty slot-->
                        </div>
                    </div>
                </div>
                <div v-if="withSelectAddress" class="col-sm">
                    <div>
                        <FieldSelectAddress @change="submit()" v-model:province="filter.province" v-model:municipality="filter.municipality" v-model:barangay="filter.barangay" />
                    </div>
                </div>
            </div>

            <div class="position-relative">
                <CustomLoader :loading="loading"/>
                <div v-if="result?.total && result?.total >= 1">
                    <!-- Datatable Here -->
                    <slot></slot>
                </div>
                <div v-else>
                    <div class="card">
                        <div class="card-body surface-100 text-center">
                            <i class="pi pi-folder-open fs-1"></i>
                            <div class="fs-4">No data found.</div>
                        </div>
                    </div>
                </div>
            </div>

        </template>

        <template #footer>
            <Paginator v-if="result.total && result.total >= 1" @page="page" :rows="result.per_page" :totalRecords="result.total" :rowsPerPageOptions="rowsPerPageOptions"></Paginator>
        </template>
    </Card>
</template>