<script setup>
import { watch, ref } from 'vue'
import { useForm, router } from '@inertiajs/vue3'

const props = defineProps({
    formFields: Object,
    url: String,
    submitLabel: { type: String, default: 'Submit'},
    submitFluid: { type: Boolean, default: false },
    method: { type: String, default: 'post' },
    withCancel: { type: Boolean, default: true },
    withConfirm: { type: Boolean, default: false },
    confirmTitle: { type: String, default: "Confirm Details" },
    confirmMessage: { type: String, default: "Please confirm or verify details before continue submiting." }
})

const form = useForm({ ...props.formFields })
const emit = defineEmits(['onSuccess','onCancel'])

function submit() {
    form[props.method](props.url, {
        onSuccess: () => {
            form.reset()
            emit('onSuccess')
        }
    })
}

const confirmModal = ref(false)
function attempSubmit() {
    if (props.withConfirm) {
        confirmModal.value = true
    } else {
        submit()
    }
}

const error = ref(null)
router.on('error', (errors) => {
    let message = errors.detail?.errors?.message
    error.value = message
})

// Watch field when changing to remove error indicators
watch(
    () => form.data(),
    (formdata) => {
        for (const item in formdata) {
            let value = formdata[item]
            if (value) {
                if (Array.isArray(value)) {
                    value.forEach((el, k) => {
                        Object.keys(el).forEach(vk => {
                            if (el[vk]) form.clearErrors(`${item}.${k}.${vk}`)
                        })
                    })

                } else {
                    form.clearErrors(item)
                }
            }
        }
    },
    { deep: true }
)
</script>
<template>
    <Dialog v-model:visible="confirmModal" modal :header="confirmTitle" :style="{ width: '40rem' }">
        <p>{{ confirmMessage }}</p>
        <slot :form="form" name="confirm-container"></slot>
        <div class="d-flex justify-content-end gap-2 mt-4">
            <Button label="Cancel" severity="secondary" @click="confirmModal = false"></Button>
            <Button label="Continue" @click="submit(), confirmModal = false"></Button>
        </div>
    </Dialog>

    <form @submit.prevent="attempSubmit" class="position-relative">
        <Message severity="error" v-if="error && error != ''">{{ error }}</Message>
        <CustomLoader :loading="form.processing"/>
        <slot :form="form"></slot>
        <div class="d-flex justify-content-end gap-2 mt-4">
            <Button v-if="withCancel" type="button" label="Cancel" severity="secondary" @click="emit('onCancel')"></Button>
            <Button v-if="method == 'delete'" type="submit" severity="danger" label="Delete"></Button>
            <Button v-else type="submit" :label="submitLabel" :class="{'w-100': submitFluid}"></Button>
        </div>
    </form>
</template>