<script setup>
import { ref, computed, watch, onMounted } from 'vue'
import InvalidFeedback from '@/components/InvalidFeedback.vue'

defineProps({ 
    errors: {
        type: Object,
        default: {}
    }
})

// Models
const province = defineModel('province')
const municipality = defineModel('municipality')
const barangay = defineModel('barangay')

const provLoading = ref(false);
const addressProvs = ref({})
const addressMunis = ref({})

// Filtered province
const provs = computed(() => Object.keys(addressProvs.value).sort())

// Filtered municipalities
const munis = computed(() => {
    if (!addressProvs.value.hasOwnProperty(province.value)) return []

    // Get municipality list from province
    const { municipality_list } = addressProvs.value[province.value]
    if (!municipality_list) return []

    // Setup municipalities
    addressMunis.value = municipality_list
    return Object.keys(municipality_list).sort()
})

// Filtered barangays
const brgys = computed(() => {
    if (!addressMunis.value.hasOwnProperty(municipality.value)) return []

    // Get barangay list from municipality
    const { barangay_list } = addressMunis.value[municipality.value]
    if (!barangay_list) return []

    return barangay_list.sort()
})

const hasMunis = computed(() => Object.keys(addressProvs.value).length >= 1 && province.value)
const hasBrgys = computed(() => Object.keys(addressMunis.value).length >= 1 && municipality.value)

defineEmits(['change'])

// watch
watch(province, () => {
    municipality.value = null
    barangay.value = null
})
watch(municipality, () => barangay.value = null)

// Get address api
async function getAddress() {
    if (Object.keys(addressProvs.value).length >= 1) return

    provLoading.value = true
    const { data } = await window.axios.get('/api/address')
    addressProvs.value = data
    provLoading.value = false
}
//
onMounted(() => getAddress())
</script>
<template>
    <div class="row">
        <div class="col-sm">
            <label for="ddAddressProvince">Province</label>
            <Dropdown @change="$emit('change')" showClear v-model="province" inputId="ddAddressProvince" :loading="provLoading" :disabled="provLoading" :options="provs" :invalid="errors.hasOwnProperty('province')" />
            <InvalidFeedback :error="errors.province"/>
        </div>
        <div class="col-sm">
            <label for="ddAddressMunicipality">Municipality</label>
            <Dropdown @change="$emit('change')" showClear v-model="municipality" inputId="ddAddressMunicipality" :disabled="!hasMunis" :options="munis" :invalid="errors.hasOwnProperty('municipality')" />
            <InvalidFeedback :error="errors.municipality"/>
        </div>
        <div class="col-sm">
            <label for="ddAddressBarangay">Barangay</label>
            <Dropdown @change="$emit('change')" showClear v-model="barangay" inputId="ddAddressBarangay" :disabled="!hasBrgys" :options="brgys" :invalid="errors.hasOwnProperty('barangay')" />
            <InvalidFeedback :error="errors.barangay"/>
        </div>
    </div>
</template>