<script setup>
import { computed } from 'vue'
import InvalidFeedback from '@/components/InvalidFeedback.vue'

const props = defineProps({
    label: String,
    name: String,
    error: String,
    options: {type:Array, default:[]}, // [{ name:string, value:any }]
    optionLabel: {type:String, default:"name"},
    optionValue: {type:String, default:"value"},
})

const model = defineModel()

const inputId = 'selectDropDown'+props?.name

const value = computed({
    get() {
        let value = props.options.find(o => o[props.optionValue] == model.value)
        return value
    },
    set(val) {
        model.value = val[props.optionValue]
    }
})

</script>
<template>
    <div>
        <label :for="inputId">{{ label }}</label>
        <Dropdown v-model="value" :inputId="inputId" :optionLabel="optionLabel" :options="options" :invalid="error && error != ''" />
        <InvalidFeedback :error="error"/>
    </div>
</template>