<script setup>
defineProps({ error: String })
</script>
<template>
    <div v-if="error && error != ''" class="invalid-feedback" style="display: block !important; margin-bottom: 5px;">
        {{ error }}
    </div>
</template>