<script setup>
defineProps({ loading: Boolean })
</script>
<template>
    <div v-if="loading" class="loader">
        <div class="loader-content">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</template>