<script setup>
const props = defineProps({
    title: String,
    url: String,
})

const model = defineModel()

</script>
<template>
    <Dialog v-model:visible="model" modal :header="'Delete '+title" :style="{ width: '30rem' }">
        <CustomForm :url="url" method="delete" @onSuccess="model = false" @onCancel="model = false">
            <div class="d-flex align-items-center">
                <i class="pi pi-exclamation-circle fs-2 me-3"></i>
                <p class="mb-0">Are you sure you want to delete <b>{{ title }}</b>?</p>
            </div>
        </CustomForm>
    </Dialog>
</template>