<script setup>
import { ref, watch } from 'vue'
import debounce from 'lodash.debounce'

const props = defineProps({
    title: String,
    label: String,
    searchPlaceholder: String,
    url: String,
    itemHeaderKey: String,
    itemSubheaderKey: String,
    itemBadgeKey: String,
    searchInputId: {type:String, default:'seachModal'}
 })

const model = defineModel()
const modelSearchID = defineModel('searchID')
const emits = defineEmits(['onSelect'])
const searchmodal = ref(false)
const searchText = ref('')
const searchItems = ref([])

const loading = ref(false)
async function submit() {
    loading.value = true
    try {
        const { data } = await window.axios.get(props.url, {
            params: { search: searchText.value }
        })
        searchItems.value = data
    } catch (error) {
        console.log(error)
    }
    loading.value = false
}

function onShow() {
    if (searchItems.value.length <= 0) submit()
}

function setItem(item) {
    model.value = item
    modelSearchID.value = item.id
    searchmodal.value = false
    emits('onSelect', item)
}

//
watch(searchText, debounce(()=>{
    submit()
}, 500))
</script>
<template>
    <div>
        <Dialog v-model:visible="searchmodal" modal :header="title" :style="{ width: '40rem' }" @show="onShow()">
            <div class="position-relative">
                <div class="form-group">
                    <label :for="searchInputId">{{ searchPlaceholder }}</label>
                    <InputText :id="searchInputId" v-model="searchText" autocomplete="off"/>
                </div>
                <div class="position-relative">
                    <CustomLoader :loading="loading"/>
                    <div style="height: 500px;" class="overflow-auto">
                        <div v-if="searchItems.length >= 1" class="list-group">
                            <a v-for="(item, i) in searchItems" :key="i" @click="setItem(item)" href="#" class="list-group-item list-group-item-action position-relative" aria-current="true">
                                <h5 class="mb-1">{{ item[itemHeaderKey] }}</h5>

                                <p v-if="itemSubheaderKey != ''" class="mb-0">{{ item[itemSubheaderKey] }}</p>

                                <span v-if="itemBadgeKey != ''" class="badge text-bg-dark position-absolute fs-6" style="top: 15px; right: 15px;">{{ item[itemBadgeKey] }}</span>
                            </a>
                        </div>
                        <div v-else class="text-center">
                            <h5 class="mb-1">No data found.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </Dialog>
        <div class="form-group">
            <label>{{ label }}</label>
            <div v-if="model?.[itemHeaderKey]" class="mt-1">
                <div class="d-flex">
                    <div class="w-100 me-2">
                        <InputText :modelValue="[model[itemHeaderKey],model[itemSubheaderKey]].join(' | ')" :readonly="true" />
                    </div>
                    <div>
                        <Button label="Change" severity="secondary" outlined @click="searchmodal = true" />
                    </div>
                </div>
            </div>
            <Button v-else :label="title" severity="secondary" outlined class="w-100" @click="searchmodal = true" />
        </div>
    </div>
</template>