<script setup>
import CustomDatatable from '@/components/CustomDatatable.vue'

const props = defineProps({
    result: Object,
    codes: Array,
})

const formFields = {
    code_number: 1,
    type: 1,
    remarks: null,
}

</script>
<template>
    <LayoutAdmin title="Codes">
        <template #default>
            <div class="mb-4">
                <Card class="mb-4">
                    <template #title>Generate Codes</template>
                    <template #content>
                        <div class="row">
                            <div class="col-md-6">
                                <CustomForm :formFields="formFields" :url="route('admin.codes.store')" :with-cancel="false">
                                    <template #default="{ form }">
                                        <div class="form-group">
                                            <label for="inputCodeNum">Number of Codes</label>
                                            <InputNumber id="inputCodeNum" v-model="form.code_number" :min="1" :max="100" :invalid="form.errors.hasOwnProperty('code_number')" />
                                            <InvalidFeedback :error="form.errors.code_number"/>
                                        </div>

                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <Textarea v-model="form.remarks" rows="3"/>
                                            <InvalidFeedback :error="form.errors.remarks"/>
                                        </div>
                                    </template>
                                </CustomForm>
                            </div>
                            <div class="col-md-6">
                                <div v-if="codes && codes.length >= 1">
                                    <Textarea :value="codes.join('\n')" rows="10"/>
                                </div>
                            </div>
                        </div>
                    </template>
                </Card>
            </div>

            <CustomDatatable :result="result" :with-select-address="false" search-placeholder="Search Code">
                <DataTable class="v-align-top" :value="result.data" rowGroupMode="rowspan" groupRowsBy="remarks.created" sortMode="single">
                    <Column field="remarks.created" header="Remarks" class="rowspan">
                        <template #body="{ data }">
                            <div class="flex align-items-center gap-2">
                                <p class="mb-0">{{ data.remarks.remarks }}</p>
                                <p class="mb-0"><small>Created By: <b>{{ data.admin.fullname }}</b></small></p>
                                <p class="mb-0"><small>Date Created: <b>{{ data.remarks.created }}</b></small></p>
                            </div>
                        </template>
                    </Column>

                    <Column field="code" header="Code" class="code-text column-compact fw-bold"></Column>
                    <Column header="Member Networking">
                        <template #body="{ data }">
                            <div v-if="data.networkUsername">
                                <p class="mb-0">{{ data.networkUsername ?? '---' }}</p>
                                <small>{{ data.memberFullname ?? '---' }}</small>
                            </div>
                            <span v-else>None</span>
                        </template>
                    </Column>
                    <Column field="used" header="Date Used"></Column>
                </DataTable>
            </CustomDatatable>
        </template>
    </LayoutAdmin>
</template>