<script setup>
const props = defineProps({
    current: [String,Number],
    profit: [String,Number],
    payout: [String,Number],
})
</script>
<template>
    <Card>
        <template #title>{{ current ?? '0' }}</template>
        <template #subtitle>Current Profit</template>
        <template #content>
            <div class="row fs-6">
                <div class="col-md-6">
                    Total Profit: <span class="fw-semibold">{{ profit ?? '0' }}</span>
                </div>
                <div class="col-md-6">
                    Total Payout: <span class="fw-semibold">{{ payout ?? '0' }}</span>
                </div>
            </div>
        </template>
    </Card>
</template>