<script setup>
import { router } from '@inertiajs/vue3'
import CustomForm from '@/components/CustomForm.vue'
import InvalidFeedback from '@/components/InvalidFeedback.vue'
import FieldSelectDropdown from '@/components/FieldSelectDropdown.vue'

const props = defineProps({
    memberId: { type: [ String, Number ], required: true },
    storeUrl: { type: String, required: true },
})

const model = defineModel()

const placements = [
    { name: 'Left Leg', value: 1 },
    { name: 'Right Leg', value: 2 },
]

const formFields = {
    member_id: props.memberId,
    username: null,
    code: null,
    sponsored_by: null,
    placed_in: null,
    placement: 1,
    no_sponsor: null
}

function success () {
    model.value = false
    router.reload()
}

</script>
<template>
    <Dialog v-model:visible="model" modal header="Add Networking Account" :style="{ width: '25rem' }">
        <CustomForm 
            :formFields="formFields" 
            :url="storeUrl"
            :with-confirm="true"
            confirm-message="The networking account you about to submit cannot not be edited. Please check and verify before submitting."
            @onSuccess="success" 
            @onCancel="model = false"
        >
            <template #confirm-container="{ form }">
                <table class="table table-borderless">
                    <tr>
                        <th>Code</th>
                        <td> : {{ form.code }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td> : {{ form.username }}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" style="width: 0px;">Sponsor's Networking Username</th>
                        <td> : {{ form.sponsored_by }}</td>
                    </tr>
                    <tr>
                        <th class="text-nowrap" style="width: 0px;">Placement's Networking Username</th>
                        <td> : {{ form.placed_in }}</td>
                    </tr>
                    <tr>
                        <th>Placement</th>
                        <td> : {{ placements.find(e => e.value == form.placement)?.name }}</td>
                    </tr>
                </table>
            </template>

            <template #default="{ form }">

                <div class="form-group">
                    <label for="inputCode">Code</label>
                    <InputText id="inputCode" v-model="form.code" :invalid="form.errors.hasOwnProperty('code')" />
                    <InvalidFeedback :error="form.errors.code"/>
                </div>

                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <InputText id="inputUsername" v-model="form.username" :invalid="form.errors.hasOwnProperty('username')" />
                    <InvalidFeedback :error="form.errors.username"/>
                </div>

                <div class="form-group">
                    <label for="inputSponsor">Sponsor's Networking Username</label>
                    <InputText id="inputSponsor" v-model="form.sponsored_by" :invalid="form.errors.hasOwnProperty('sponsored_by')" />
                    <InvalidFeedback :error="form.errors.sponsored_by"/>
                </div>

                <div class="form-group">
                    <label for="inputPlacedIn">Placement's Networking Username</label>
                    <InputText id="inputPlacedIn" v-model="form.placed_in" :invalid="form.errors.hasOwnProperty('placed_in')" />
                    <InvalidFeedback :error="form.errors.placed_in"/>
                </div>

                <div class="form-group">
                    <FieldSelectDropdown v-model="form.placement" label="Placement" name="placement" :options="placements" :error="form.errors.placement" />
                </div>

            </template>
        </CustomForm>
    </Dialog>
</template>