<script setup>
const props = defineProps({
    member: Object,
})

const information = [
    { label: "Account Number", key: 'account_id' },
    { label: "Username", key: 'username' },
    { label: "Full Name", key: 'fullname' },
    { label: "Gender", key: 'gender_str' },
    { label: "Birth Date", key: 'bday_str' },
    { label: "Contact Number", key: 'contact_number' },
    { label: "Address", key: 'address' },
    { label: "Date Registered", key: 'registered' },
    { label: "Last Modified", key: 'modified' },
]
</script>
<template>
    <Card>
        <template #title>
            <div class="d-flex justify-content-between align-items-center">
                <div class="w-100">General Information</div>
                <div class="flex-shrink-1">
                    <slot></slot>
                </div>
            </div>
        </template>
        <template #content>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="(info, i) in information" :key="i">
                    <h5 class="mb-0">{{ (member.hasOwnProperty(info.key)) ? member[info.key] ?? '---' : '---' }}</h5>
                    <p class="mb-0">{{ info.label }}</p>
                </li>
            </ul>
        </template>
    </Card>
</template>