<script setup>
import { ref, computed } from 'vue'
import Panzoom from '@panzoom/panzoom'
import Genealogy from '@/helpers/Genealogy.js'

const props = defineProps({
    networkId: [String, Number],
})
const model = defineModel()
const loading = ref(false)
const error = ref(false)

const header = computed(() => {
    let text = "Networking Genealogy"
    if (props.member_network?.username) text += " "+props.member_network?.username
    return text
})

const panzoomHtml = ref()
const genealogyHtml = ref()
const genealogy = new Genealogy()
const url = route('networking_genealogy')

async function getDownlines(id, container) {
    loading.value = true
    error.value = false

    try {
        const { data } = await window.axios.get(url, {
            params: { network_id: id }
        })

        genealogy.createTree(
            container,
            data.head,
            data.downlines
        )

    } catch (error) {
        error.value = true
    }

    loading.value = false
}

genealogy.onClickViewMore = (id, parent) => getDownlines(id, parent)

function setPanzoom() {
    const panzoom = Panzoom(panzoomHtml.value)
    panzoom.zoom(.8)
    panzoom.pan(200, 200)
}

</script>
<template>
    <Dialog v-model:visible="model" modal :header="header" :style="{ width: '80vw' }" @show="getDownlines(networkId, genealogyHtml), setPanzoom()">
        <div class="position-relative">
            <CustomLoader :loading="loading"/>
            <div v-if="!error" style="height: 70vh;" ref="panzoomHtml" >
                <div ref="genealogyHtml" @click="createAnother" class="genealogy"></div>
            </div>
            <Message v-else severity="error">Something went wrong. Please try again.</Message>
        </div>
    </Dialog>
</template>