<script setup>
import { ref } from 'vue'
import { Link } from '@inertiajs/vue3'

const props = defineProps({
    memberId: {type:[String, Number], required: true}
})

const items = ref([
    { name: 'Profile', icon: 'pi pi-user', url: '/capt-admin/members/'+props.memberId },
    { name: 'Purchases', icon: 'pi pi-cart-plus', url: '/capt-admin/members/'+props.memberId+'/purchases' },
])

</script>
<template>
    <Menubar :model="items" class="mb-4">
        <template #item="{ item }">
            <Link :href="item.url" class="p-menuitem-link">
                <span class="p-menuitem-icon" :class="item.icon" />
                <span class="p-menuitem-text">{{ item.name }}</span>
            </Link>
        </template>
    </Menubar>
</template>