<script setup>
import { ref } from 'vue'
import { router } from '@inertiajs/vue3'
import ModalNetworkingGenealogy from '@/components/Member/ModalNetworkingGenealogy.vue'

const props = defineProps({
    memberId: [String, Number],
    networks: { type: Array, default: [] },
    isAdmin: { type: Boolean, deafult: false }
})

const updateNetwork = ref({})
const updateNetworkModal = ref(false)
function updateNetworkModalShow(data) {
    updateNetwork.value = data
    updateNetworkModal.value = true
}
function updateNetworkSuccess() {
    updateNetworkModal.value = false
    router.reload()
}

const genealogyModal = ref(false)
const genealogyID = ref(0)
function viewGenelogy(data) {
    genealogyID.value = data.id
    genealogyModal.value = true
}
</script>
<template>
    <ModalNetworkingGenealogy v-model="genealogyModal" :network-id="genealogyID" />

    <Dialog v-model:visible="updateNetworkModal" modal header="Edit Username" :style="{ width: '25rem' }">
        <CustomForm 
            :formFields="updateNetwork" 
            :url="route('admin.members.networks.update', { member:memberId, network:updateNetwork.id })"
            method="put"
            @onSuccess="updateNetworkSuccess" 
            @onCancel="updateNetworkModal = false"
        >
            <template #default="{ form }">
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <InputText id="inputUsername" v-model="form.username" :invalid="form.errors.hasOwnProperty('username')" />
                    <InvalidFeedback :error="form.errors.username"/>
                </div>
            </template>
        </CustomForm>
    </Dialog>

    <Card>
        <template #title>
            <div class="d-flex justify-content-between align-items-center">
                <div>Networking Accounts</div>
                <div>
                    <slot></slot>
                </div>
            </div>
        </template>
        <template #content>
            <DataTable v-if="networks.length >= 1" :value="networks">
                <Column field="username" header="Username"></Column>
                <Column field="code.code" header="Code Used"></Column>

                <Column header="Sponsor">
                    <template #body="{ data }">
                        <div v-if="data.sponsor_username">
                            <p class="mb-0">{{ data.sponsor_username ?? '---' }}</p>
                            <small>{{ data.sponsor_fullname ?? '---' }}</small>
                        </div>
                        <span v-else>None</span>
                    </template>
                </Column>

                <Column header="Placement">
                    <template #body="{ data }">
                        <div v-if="data.placed_username">
                            <p class="mb-0">{{ data.placed_username ?? '---' }} | {{ data.placement }}</p>
                            <small>{{ data.placed_fullname ?? '---' }}</small>
                        </div>
                        <span v-else>None</span>
                    </template>
                </Column>

                <Column field="registered" class="column-compact" header="Date Registered"></Column>

                <Column v-if="isAdmin" header="Actions" class="column-compact">
                    <template #body="{ data }">
                        <SplitButton severity="secondary" label="View" 
                            @click="viewGenelogy(data)"
                            :model="[
                                { label: 'Edit Username', command:()=> updateNetworkModalShow(data) },
                            ]"/>
                    </template>
                </Column>
                <Column v-else header="View" class="column-compact">
                    <template #body="{ data }">
                        <Button severity="secondary" label="Genealogy"@click="viewGenelogy(data)" />
                    </template>
                </Column>

            </DataTable>
            <div v-else>
                <div class="card">
                    <div class="card-body surface-100 text-center">
                        <i class="pi pi-folder-open fs-1"></i>
                        <div class="fs-4">No networking accounts found.</div>
                    </div>
                </div>
            </div>
        </template>
    </Card>
</template>