<script setup>
import CustomDatatable from '@/components/CustomDatatable.vue'
const props = defineProps({
    result: Object
})
</script>
<template>
    <CustomDatatable :result="result" :with-search="false" :with-select-address="false">
        <DataTable class="v-align-top" :value="result.data">
            <Column field="date_cycle" header="Date Cycle"></Column>
            <Column header="Type">
                <template #body="{ data }">
                    <span v-if="data.type == 'profit'" class="text-success fw-semibold">Profit</span>
                    <span v-else class="fw-semibold">Payout</span>
                </template>
            </Column>
            <Column field="remarks" header="Remarks">
                <template #body="{ data }">
                    <div v-html="data.remarks"></div>
                </template>
            </Column>
            <Column field="current_amount" class="text-end" header="Amount"></Column>
            <Column field="total_payout" class="text-end" header="Total Payout"></Column>
            <Column field="total_profit" class="text-end" header="Total Profit"></Column>
            <Column field="current_profit" class="text-end fw-semibold" header="Current Profit"></Column>
        </DataTable>
    </CustomDatatable>
</template>