<script setup>
import { ref } from 'vue'
import TablePurchases from '@/components/Admin/TablePurchases.vue'

const props = defineProps({
    result: Object,
})

const purchaseModal = ref(false)
const purchase = ref({})

</script>
<template>
    <LayoutAdmin title="Purchases">
        <template #content-header-end>
            <Button label="Add Purchase" @click="purchase = {}, purchaseModal = true"/>
        </template>
        <template #default>
            <TablePurchases v-model="purchase" v-model:purchaseModal="purchaseModal" :result="result" />
        </template>
    </LayoutAdmin>
</template>