<script setup>
import { ref } from 'vue'
import CustomDatatable from '@/components/CustomDatatable.vue'
import FormModalAdmin from '@/components/Admin/FormModalAdmin.vue'
import ModalConfirmDelete from '@/components/ModalConfirmDelete.vue'

defineProps({
    result: Object,
})

const modalData = ref({})
const modalForm = ref(false)
const modalDelete = ref(false)

</script>
<template>
    <LayoutAdmin title="Admins">
        <template #content-header-end>
            <Button label="Add Admin" @click="modalForm = true, modalData = {}" />
        </template>
        <template #default>
            <FormModalAdmin :admin="modalData" v-model="modalForm"/>

            <ModalConfirmDelete :title="modalData.fullname" :url="route('admin.admins.destroy', modalData.id ?? 0)" v-model="modalDelete" />

            <CustomDatatable :result="result" :with-select-address="false">
                <DataTable :value="result.data">
                    <Column field="fullname" header="Name"></Column>
                    <Column field="username" header="Username"></Column>
                    <Column field="registered" class="column-compact" header="Date Registered"></Column>
                    <Column header="Actions" class="column-compact">
                        <template #body="{ data }">
                            <SplitButton severity="secondary" label="Edit" 
                                @click="modalForm = true, modalData = data"
                                :model="[
                                    { label: 'Delete', command:()=> {
                                        modalDelete = true
                                        modalData = data
                                    } },
                                ]"/>
                        </template>
                    </Column>
                </DataTable>
            </CustomDatatable>
        </template>
    </LayoutAdmin>
</template>