<script setup>
defineProps({
    result: Object,
})

</script>
<template>
    <LayoutAdmin title="Dashboard">
        <template #default>
            <Card>
                <template #title>Top Members</template>
                <template #content>
                    <DataTable :value="result">
                        <Column field="fullname" header="Name"></Column>
                        <Column field="total_profit" header="Total Profit"></Column>
                        <Column field="username" header="Username"></Column>
                        <Column field="address" header="Address"></Column>
                    </DataTable>
                </template>
            </Card>
        </template>
    </LayoutAdmin>
</template>