<script setup>
import { Head, usePage } from '@inertiajs/vue3'
import logo from '@images/logo.png'

const page = usePage()
const adminTitle = page.props.admin_title
const formFields = {
    username: null,
    password: null
}

</script>
<template>
    <Head :title="'Login - ' + adminTitle" />
    <div class="p-4 mx-auto" style="max-width: 350px;">
        <Card>
            <template #title>
                <div class="text-center">
                    <div><a href="/"><img :src="logo" :alt="adminTitle + ' - Logo' " width="100" class="mb-2"></a></div>
                    <h5 class="mb-0">Login {{ adminTitle }}</h5>
                </div>
            </template>
            <template #content>
                <CustomForm :formFields="formFields" :url="route('admin.login_post')" :with-cancel="false" submit-label="Login" :submit-fluid="true">
                    <template #default="{ form }">
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <InputText id="inputUsername" v-model="form.username" :invalid="form.errors.hasOwnProperty('username')" autocomplete="off" required />
                            <InvalidFeedback :error="form.errors.username"/>
                        </div>

                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <Password v-model="form.password" inputId="inputPassword" toggleMask :feedback="false" required :invalid="form.errors.hasOwnProperty('password')" />
                            <InvalidFeedback :error="form.errors.password"/>
                        </div>
                    </template>
                </CustomForm>
            </template>
        </Card>
    </div>
</template>